// // Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// // Variables
// @import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Shop Homepage template
@import 'shop-homepage';

#filters_container{
    display: flex;
    justify-content: flex-start;
    font-size: small !important;
}

#FilterinputCategory, #FilterinputName, #FilterinputDescription{
    font-size: smaller !important;
}

.header_background{
    background-image: url('/public/storage/images/background.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    //background-position: center !important;
    background-position-y: 85% !important;
}

.filter_container{
    margin-right: 10px;
    //flex: 1;
}
